lab_test2/dogs_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Canine">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Breed1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed2">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed3">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed4">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed5">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed6">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed7">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed8">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed9">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Breed10">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="breed"/>
              <xs:element type="xs:string" name="color"/>
              <xs:element type="xs:string" name="country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>